/* Initially based on https://designshack.net/articles/css/5-simple-and-practical-css-list-styles-you-can-copy-and-paste/ */
div {
  margin-left:auto;
  margin-right:auto;
  width:80%;
}

h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom:3px solid #ccc;
}

ul {
  margin-left:20px;
  padding:0;
  list-style-type: none;
}

li {
  border: 1px solid #ccc;
  display: inline-block;
  list-style:none;
  vertical-align:top;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  padding:10px;
  margin:5px;
}

a{
  font: 200 40px/1.5 Helvetica, Verdana, sans-serif;
  text-align:center;
  padding:0px;
  margin:5px;
}

/* .desc {
  font-size:0;
}*/


li a {
  display: block;
  font: 200 25px/1.5 Helvetica, Verdana, sans-serif;
  text-decoration: none;
  padding: 0 1% 0 1%;
  color: #000;
}

li:hover {
  background: #333333;
  color: #cccccc;
}
li:hover a{
  color: #cccccc;
}

ul *{
  -webkit-transition: font-size 2s ease, background-color 2s ease, border 2s ease, padding 2s ease, color 2s ease;
  -moz-transition: font-size 2s ease, background-color 2s ease, border 2s ease, padding 2s ease, color 2s ease;
  -o-transition: font-size 2s ease, background-color 2s ease, border 2s ease, padding 2s ease, color 2s ease;
  -ms-transition: font-size 2s ease, background-color 2s ease, border 2s ease, padding 2s ease, color 2s ease;
  transition: font-size 2s ease, background-color 2s ease, border 2s ease, padding 2s ease, color 2s ease;
}
